body{
    margin:0;
    position:absolute;
    width:100%;
    background:#eee;
}
.footer{
    position:relative;
    margin-top:40px;
    background:#444;
    color:#fff;
    width:100%;
    height:50px;
    font-size:11px;
    font-weight:bold;
    text-align:center;
}


 table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

input{
    background:#fff;
    border: #000 solid 1px;

}
input:hover{
   border: #1b6ac9 solid 1px;
}
input:active{
   border: #1b6ac9 solid 1px;
}
input[type=submit]{
    background:#1b6ac9;
    color:#fff;
    padding:5px;
    border: #1b6ac9 solid 1px;
    cursor:pointer;
    font-weight:bold
}

.details_line{
    position:relative;
    width:100%;
    height:25px;
}
.details_line_name{
    font-weight:bold;
    text-align:right;
}
.details_line_name, .details_line_value{
    position:relative;
    width:50%;
    float:left;
}
.details_line_value{
    text-align:left;
}
.errorLine{
    width: 94%;
    background: #fbcfcf;
    margin: 8px auto;
    text-align: center;
    border: 2px solid #f00;
    border-radius: 4px;
    padding: 4px 0;
    color: #782d2d;
}

.messageLine{
    width: 94%;
    background: #5EF445;
    margin: 8px auto;
    text-align: center;
    border: 2px solid #138E00;
    border-radius: 4px;
    padding: 4px 0;
    color: #159300;
}



