body{
    padding-bottom:100%;
}
.debug{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background:#fff;    
    display:none;
}
.debugZoneMenu{
    width: 100%;
    height:30px;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    background:#086b01;
}
.debugZoneMenuPoint{
    position:relative;
    height: 24px;
    padding-top:6px;
    float:left;
    display:table;
    cursor:pointer;
}
.debugZoneMenuPoint:hover{
    background:#23831d;
}
.debugZoneMenuPointIn{
    position:relative;
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #fff; 
    display:table;
    cursor:pointer;

}
.debugZoneCategory{
    position:relative;
    width:100%;
}
.debugZoneCategoryTitle{
    color:#fff;
    background:#000;
    width:100%;
    text-align:center;
}
.debugZoneCategoryLine{
    cursor:default;
}
.debugZoneCategoryLine:hover{
    background:#ccc;
}
.debugButton{
    position:fixed;
    bottom:0;
    right:0;
    color:#fff;
    background:#086b01;
    cursor:pointer;
    user-select:none;
}
