/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2016, 10:45:30 PM
    Author     : editorunk
*/


.myProducts{
    position:relative;
    float:left;
    width:320px;
    margin-top:20px;
    font-size:12px;
    margin-left:20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);    
}

.myProductsLine{
    position:relative;
    height:15px;
    width:320px;
    border-bottom:1px solid #EFEDED;
}

.myProductsLineTitle{
    position:relative;
    height:15px;
    width:320px;        
    text-align:center;
    font-weight:bold;
}

.myProductsLineName{
    position:relative;
    float:left;
    height:15px;
    width:158px;
    font-weight:bold;
    text-align:right;
    border-right: 1px solid #EFEDED;    
}

.myProductsLineValue{
    position:relative;
    float:left;
    height:15px;
    width:159px;    
}



.prodButton{
    position:relative;
    float:left;
    margin:5px;
    width:80px;
    height:20px;
    text-align:center;
    cursor:pointer;
}


.myProductsButtonLine{
    position:relative;
    height:30px;
    width:320px;
}

.prodButton:hover{
    background:#006587;
    color:#fff;
}
.prodHolder{
    clear: both;
    display: table;
}


.support{
    position:relative;
    float:left;
    margin:5px;
    width:150px;
    height:20px;
    text-align:center;
    cursor:pointer;
}
.support:hover{
    background:#fff;
    color:#fff;
}
.bodyMessage{
    text-align:center;
}




