body{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    color:#000;
 }
.mainMenuTitle, .mainMenu{
    position:relative;
    width:100%;
}
.mainMenuTitle{
    margin-top:50px;
    text-align:center;
    font-weight:bold;
    font-size:20px;
}
.mainMenuPoint{
    display:table;
    margin:auto;
}
   



