.menuLine, .menuHolder{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menuHolder{
    display:table;
    margin:auto;
}

.menuBlock {
    float: left;
}

.menuBlock .menuLink {
    display: block;
    color: white;
    width:80px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuBlock .menuLink:hover:not(.active) {
    background: #1b6ac9;
}

.menuBlockSelected {
    background: #4CAF50;
}
