body{
	background: #eee;
}
.loginHolder{
      
}
.userForm {
	border: solid gray 1px;
	width: 20%;
	min-width:180px;
	border-radius: 5px;
	margin: 30px auto;
	background: white;
	padding: 50px;
}
.userForm input{
	width:100%;
}
#submit{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%;
}
.errorLine{
    width: 94%;
    background: #fbcfcf;
    margin: 8px auto;
    text-align: center;
    border: 2px solid #f00;
    border-radius: 4px;
    padding: 4px 0;
    color: #782d2d;
}
